/*User register and User login*/

.user-form { padding:20px; }

.user-form .field {font-family: Georgia, 'Times New Roman', Times, serif; font-size: large; padding: 5px; margin:1px; background: rgb(203, 216, 128); }

.user-form .error_field {font-family: Georgia, 'Times New Roman', Times, serif; font-size: large; padding: 5px; margin:1px; background: rgb(226, 122, 122); }

.user-form .error_field label { display:inline-block; width:200px; margin-left:10px; }

.user-form .error_field input { display:inline-block; width: 500px; }

.user-form .field label { display:inline-block; width:200px; margin-left:10px; }

.user-form .field input { display:inline-block; width: 500px; }

/*New room*/

.user-form .button_field {font-family: Georgia, 'Times New Roman', Times, serif; font-size: large; padding: 10px; margin:1px; background: rgb(203, 216, 128); }

.user-form .button_field label { display:inline-block; width:200px; margin-left:10px; }

.user-form .button_field input { display:flexbox; width: 100px; }

.user-form .field textarea { display:inline-block; width: 500px;}

/*Pagination*/

.pagination { 
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 5;
}

.pagination li { 
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 5;
}

.pagination span {
      position: relative;
      float: left;
      padding: 5;
      border: 1px solid;
      margin-left: -1px;
}