# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/chatfront/node_modules
/chatfront/.pnp
/chatfront/.pnp.js
chatfront/package-lock.json

# testing
chatfront/coverage

# production
chatfront/build

# dev

chatfront/build_dev.sh
chatfront/build.sh

# misc
/chatfront/.DS_Store
/chatfront/.env.local
/chatfront/.env.development.local
/chatfront/.env.test.local
/chatfront/.env.production.local

/chatfront/npm-debug.log*
/chatfront/yarn-debug.log*
/chatfront/yarn-error.log*

# animation files

/dokumentaatio/English-pronunciation-Mouth-Alphabet.jpg
/dokumentaatio/kuvat/
/dokumentaatio/settings.png
/dokumentaatio/remove.png

# Backend

/chatback/node_modules
/chatback/package-lock.json
/chatback/.env
/chatback/.eslintignore
/chatback/build/
